body {
	margin: 0px;
}

.protest-dot {
	-webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.protest-dot:hover {
	transform: scale(10);

}

svg , g
	{
		border: solid 3px red;
		stroke-width: 1.5px;
	}
	circle {
		fill: steelblue;
		fill-opacity: .8;
	}